.contents
  .left-content
    / <div class="box1"></div>
    .header
      %h3.people matsumoto yukari
      .icon1
        %i.fa.fa-cog.icon
      .icon2
        %i.fa.fa-pencil-square-o.icon
    .groups
      .group
        .group__name
          aeaaaaaaa
        .group__massege
          まだメッセージはありません
      .group
        .group__name
          sampleグループ
        .group__massege
          まだメッセージはありません
  .right-content
    / 大枠
    .header-content
      .left-header
        .group__name
          sampleグループ
        .group__member
          Member : ryosukemaehira
      .right-header
        .right-header__button Edit
    .chat
      .space
      .masseges
        .sent-name
          ryosukemaehira
        .sent-day
          2016/10/02 06:27:07
        .sent-naiyo
          なるほど
      .masseges
        .sent-name
          ryosukemaehira
        .sent-day
          2016/10/02 06:27:14
        .sent-naiyo
          command Enterで送信したい感ある
      .masseges
        .sent-name
          ryosukemaehira
        .sent-day
          2016/10/02 06:27:30
        .sent-naiyo
          お腹すいた
    .bottom-content
      .left-bottom
        %form.new-message
          %input.moji{:name => "new-message", :placeholder => "type a message", :type => "text"}/
          .icon3
            %i.fa.fa-picture-o.icon
      .right-bottom
        %input.form__submit{"data-disable-with" => "Send", :disabled => "disabled", :name => "commit", :type => "submit", :value => "Send"}/
