    .chat {
      background-color: #eeeeee;
      width: 100%;
      height: calc(100% - 200px);
      .space{
        height: 46px;
        width: 100%;
        background-color: #eeeeee;
      }
      .message{
        height: 90px;
        width: 100%;
        background-color: #eeeeee;
        // padding-left: 40px;
        .sent-name{
        height: 22px;
        // width: 100%;
        background-color: #eeeeee;
        font-size: 16px;
        font-weight: bold;
        color: #434A54;
        margin-bottom: 10px;
        padding-left: 40px;
        float: left;
        }
        .sent-day{
          height: 22px;
          // width: 100%;
          background-color: #eeeeee;
          font-size: 12px;
          color: #999999;
          // float: right;
          margin-left: 10px;
          margin-bottom: 10px;
          float: left;
        }
        .sent-naiyo{
          height: 16px;
          // width: 100%;
          background-color: #eeeeee;
          font-size: 14px;
          color: #434A54;
          // float: inline-end;
          // clear: none;
          // clear: left;
          clear: right;
          // clear: none;
          padding-top: 32px;
          padding-bottom: 40px;
          padding-left: 40px;
        }
      }
    }
